{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
     <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
     <link rel="stylesheet" type="text/css" href="../../static/css/form.css">
{% endblock %}

{% block body_block %}
    <script type="text/javascript" src="{% static "/js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript">
        function validate(error) {
            $(document).ready(alert(error));
        }
    </script>
    <div class="title">
        <strong>Reset Password</strong>
    </div>

        <form class="main" method="post">{% csrf_token %}

            <div class="row">
                <label>Old password:</label>
                <p class="field-box">{{ form.old_password }}</p>
            </div>

            <div class="row">
                <label>New password:</label>
                <p class="field-box">{{ form.new_password1 }}</p>
            </div>

            <div class="row">
                <label>Confirm password:</label>
                <p class="field-box">{{ form.new_password2 }}</p>
            </div>

            <button type="submit">Submit</button><br>
        </form>
        {% if form.errors %}
            {% for field in form %}
                 {% for error in field.errors %}
                <p hidden id = "cc">{{ error }}</p>
                  {% endfor %}
            {% endfor %}
        {% endif %}
        <div class="alert alert-danger" style="text-align: center">
            <script type="text/javascript">validate(document.getElementById("cc").innerHTML)</script>
        </div>

{% endblock %}