{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
     <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
     <link rel="stylesheet" type="text/css" href="../../static/css/form.css">
{% endblock %}


{% block body_block %}

        <div class="title">
            <strong>Password is reset!</strong>
        </div>

  <div style="width: max-content;
        background: rgba(255,255,255,0.81);
        border-radius: 15px;
        font-size: xx-large;
        margin: 150px auto;
        padding: 20px">
      <a href="{% url 'user_profile_detail' user.id %}">Go back to profile</a>
  </div>
{% endblock %}