{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
     <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
     <link rel="stylesheet" type="text/css" href="../../static/css/form.css">
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Reset Password</strong>
    </div>

    <br>

        <form class="main" method="post">{% csrf_token %}

            <div class="row">
                <label>Old password:</label>
                <p class="field-box">{{ form.old_password }}</p>
            </div>

            <div class="row">
                <label>New password:</label>
                <p class="field-box">{{ form.new_password1 }}</p>
            </div>

            <div class="row">
                <label>Confirm password:</label>
                <p class="field-box">{{ form.new_password2 }}</p>
            </div>

            <button type="submit">Submit</button><br>
        </form>

{% endblock %}