{% extends 'Registration/base.html' %}

{% block body_block %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
      you can access through here
      <a href="http://127.0.0.1:8000/reset/Nw/54s-d8f0bbe0c5530bea25c1">Click Me</a>
  </p>
{% endblock %}>