<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>about us</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <!-- JavaScript -->
        <script src="{% static "js/jquery.js" %}"></script>
    </head>

    <body>
		<h1>About Us</h1>
		<div>
			<strong>{{ boldmessage }}</strong><br />
		</div>
		<div>
			<a href="/PostBar">Back to the page</a><br />
			<!-- Image -->
			<img src="{{ MEDIA_URL}}aboutus.jpg" alt="Picture of about"/>
		</div>
	</body>
</html>