{% extends 'PostBar/base.html' %}
{% block body_block %}
    <p>answer for title: {{ object.question.title }}</p>
    <p>id: {{ object.id }}</p>
    <p>content: {{ object.content }}</p>
    <p>last modified: {{ object.last_modified }}</p>
    <p>creator : {{ object.user.username }}</p>
    {# only the one create create the answer could edit it#}
    {% if user.is_authenticated and user.id == object.user.id %}
        <a href="{% url 'answer_update' answer.id %}" class="see_detail">edit</a>
    {% endif %}
{% endblock %}
