{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/answers.css">
{% endblock %}


{% block body_block %}
    <div class="title">
        <strong>
            [Answer]:
            <a href="{% url 'question_detail' object.question.id %}" class="question_title">{{ object.question.title }}</a>
        </strong>
    </div>

    <hr/>

    <div class="answer_sidebar">
        <div class="content">
            <span>
                Author
            </span>
            <p class="auth_info">
                <picture class="auth_image"> {{ object.user.userprofile.picture }}</picture>
                {{ object.user.username }}
                {{ object.user.email }}
            </p>
            {% if user.is_authenticated and user.id == object.user.id %}
                <a href="{% url 'answer_update' answer.id %}" class="see_detail">Edit</a> <br>
                <a href="{% url 'answer_delete' answer.id answer.question.id %}" class="see_detail">Delete</a>
            {% endif %}
            <div>
                <a href="{% url 'answer_rank_up' answer.id %}" class="see_detail">Agree</a> <br>
                <a href="{% url 'answer_rank_down' answer.id %}" class="see_detail">Disagree</a>
            </div>
        </div>
    </div>

    <div class="answer_content">
        {{ object.content }} <br>
        {{ object.last_modified }} <br>
        {{ object.rank_count }}
        <div> {% if object.picture %}
            <div><img src="{{ object.picture.url }} " alt="no picture" width="100" height="100"></div>
        {% endif %}</div>

    </div>

{% endblock %}


{#    <a href="{% url 'question_detail' object.question.id %}" class="see_detail">#}

{#    </a>#}
{#    <p>id: {{ object.id }}</p>#}
{#    <p>content: {{ object.content }}</p>#}
{#    <p>last modified: {{ object.last_modified }}</p>#}
{#    <p>creator : {{ object.user.username }}</p>#}
{#    <p>ranks: {{ object.rank_count }}</p>#}
{##}
{#    {% if user.is_authenticated and user.id == object.user.id %}#}
{#        <div>#}
{#        </div>#}
{#    {% endif %}#}
    {# only the one create create the answer could edit it#}
{#    {% if user.is_authenticated and user.id == object.user.id %}#}
{##}
{#    {% endif %}#}
