{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/form.css">
{% endblock %}

{% block title_block %}
    <title>Add your answer</title>
{% endblock %}

{% block body_block %}
    <div class="title">
        <strong>Add your answer</strong>
    </div>

    <hr/>

       <form class="main" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="row">
            <label>Content:</label>
            <p class="field-box">{{ form.content }}</p>
        </div>
        <div class="row">
            <label>picture:</label>
            <p class="field-box">{{ form.picture}}</p>
        </div>

        <p class="field-box"><input class="button" type="submit" value="Submit"></p>
    </form>
{% endblock %}