<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css">
    {% block css_block %}
    {% endblock %}

    {#    <script src="{% static "js/jquery.js" %}"></script>   #}
    <meta charset="UTF-8">
    {% block title_block %}
    {% endblock %}

</head>
<div class="navbar">

    <a href="{% url 'index' %}">Post Bar</a>


    <div class="dropdown">

        <button class="dropbtn">Category</button>
        <div class="dropdown-content">
            <a href="{% url 'category_list' %}?page=1">Categories</a>
            {% for category in category_list %}
                <a href="{% url 'category_detail' category.id %}">{{ category }}</a>
            {% endfor %}
        </div>

    </div>

    <input class="searchbar" type="text" placeholder="Search...">

    <a href="{% url 'question_create' %}">Add Question</a>
    <a href="{% url 'about' %}">About</a>


    {% if user.is_authenticated %}
        <a href="{% url 'user_profile_detail' user.userprofile.id %}">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}


</div>

<br>
{% block body_block %}
{% endblock %}
</html>