{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/category.css">
{% endblock %}


{% block body_block %}
    <div class="title">
        <strong>All category</strong>
    </div>

    <hr/>

    <h1>
        <p class="create_category">
            <a href="{% url 'category_create' %}">Create a category</a>
        </p>
        {% if category_list %}
            {% for category in category_list %}
                <p class=category_link><a href="{% url 'question_list' %}?page=1&category_id={{ category.id }}">{{ category.name }}</a>
                </p>
            {% endfor %}

            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{% url 'category_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{% url 'category_list' %}?page={{ page_obj.next_page_number }}">previous</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        {% else %}
            <h2>My category</h2>
            <p>No category found!!! :(</p>
        {% endif %}
    </h1>
{% endblock %}
