{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/category.css">
{% endblock %}


{% block body_block %}

    <div class="title">
        <strong>Category Created!</strong>
    </div>

    <hr/>

    <img src="/static/images/created.png" alt="created_pic" style="  display: block; margin-left: auto; margin-right: auto; width: 30%;">

    <p  style="text-align: center">
        <a href="{% url 'category_list' %}?page=1">Go to Category List</a>
    </p>

{% endblock %}
