{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/form.css">
{% endblock %}

{% block title_block %}
    <title>Edit</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Edit your information</strong>
    </div>


    <div class="content">
        <form class="main" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="row">
                <label>Website:</label>
                <p class="field-box">{{ profile_form.website }}</p>
            </div>

            <div class="row">
                <label>Picture:</label>
                <p class="field-box">{{ profile_form.picture }}</p>
            </div>

            <div class="row">
                <label>Location: </label>
                <p class="field-box">{{ profile_form.location }}</p>
            </div>

            <div class="row">
                <label>Background:</label>
                <p class="field-box">{{ profile_form.background }}</p>
            </div>

            <input type="submit" value="Submit">
        </form>

    </div>

{% endblock %}