{% extends 'PostBar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Follower</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Follower</strong>
    </div>

    <div class="all_follower_list" style="
        text-align: center;
        background-color: rgba(67,124,255,0.85);
        padding-left: 20px;
        padding-right: 30px;
        border-radius: 25px;
        margin: 0 auto;
        color: white;
        height: auto;
        width: 200px">
        {% if follower_list %}
            {% for follower in follower_list %}
                <li>
                    <a href="{% url 'user_profile_detail' follower.user_id %}">{{ follower }}</a>
                </li>
            {% endfor %}
        {% else %}
            <strong>You have no followers.</strong>
        {% endif %}
    </div>

{% endblock %}