{% extends 'PostBar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Follower</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Follower</strong>
    </div>

    <hr/>

    <ul class="content">
        {% if follower_list %}
            {% for follower in follower_list %}
                <li>
                    {{ follower }}
                </li>
            {% endfor %}
        {% else %}
            You have no followers.
        {% endif %}
    </ul>

{% endblock %}