{% extends 'PostBar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Following</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Following</strong>
    </div>

    <hr/>

    <ul class="content">
        {% if following_list %}
            {% for follower in following_list %}
                <li>
                    {{ follower }}
                </li>
            {% endfor %}
        {% else %}
            You are not following anyone.
        {% endif %}
    </ul>

{% endblock %}