<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/index.css">
    <script src="{% static "js/jquery.js" %}"></script>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="navbar">

        <a href="#">Post Bar</a>

        <div class="dropdown">

            <button class="dropbtn">Category</button>

            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>

        </div>

        <input type="text" placeholder="Search..">

        <a href="#">Add Question</a>
        <a href="#">About</a>

        <div class="auth">
            <a href="#">Login</a>
            <a href="#">Register</a>
        </div>

    </div>

    <div class="title">
        <strong>Popular Questions</strong>
    </div>

    <hr/>

    <div class="content">

    </div>

</body>
</html>