{% extends 'PostBar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Home</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Invalid login!</strong>
    </div>

    <hr/>

    <img src="/static/images/invalid.png" alt="invalid_pic" style="  display: block; margin-left: auto; margin-right: auto; width: 30%;">

    <p style="text-align: center">
        Please check login details.
    </p>

    <p  style="text-align: center">
         <a href="{% url 'login' %}">Try again</a>
    </p>

{% endblock %}