{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/form.css">
{% endblock %}

{% block title_block %}
    <title>Login</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Login</strong>
    </div>

    <div id="main_body">

        <div class="container">
            <form class="main" method="post" action="{% url 'login' %}">{% csrf_token %}

            <div class="row">
                <label>Username:</label>
                <p class="field-box">
                    <input type="text" name="username" value="" size="50">
                </p>
            </div>

            <div class="row">
                <label>Password:</label>
                <p class="field-box">
                    <input type="password" name="password" value="" size="50">
                </p>
            </div>

            <div class="bottom">
                <input type="submit" value="submit" />
            </div>

            </form>
        </div>

    </div>

{% endblock %}