{% extends 'PostBar/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <title>Post</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Add Your Question</strong>
    </div>

    <hr/>

    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-25">
                    <label for="category">Category</label>
                </div>

                <div class="col-75">
                    <select id="category" name="category">
                    <option value="maths">Maths</option>
                    <option value="computing_science">Computing Science</option>
                    <option value="economics">Economics</option>
                    </select>
                </div>

                <div class="col-75">
                    <input type="text" value="Add a category here">
                    <input type="submit" value="Add">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="subject">Question</label>
                </div>

                <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>

            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
        </div>


{% endblock %}