{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/form.css">
{% endblock %}

{% block title_block %}
    <title>Update question</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Update Question</strong>
    </div>

    <hr/>

    <form action="" method="post" class="main">{% csrf_token %}
        <div class="row">
            <label>Title:</label>
            <p class="field-box"> {{ form.title }}</p>
        </div>

        <div class="row">
            <label>Content:</label>
            <p class="field-box">{{ form.content }}</p>
        </div>
        <p class="field-box"><input class="button" type="submit" value="Submit"></p>
    </form>
{% endblock %}
