{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/home.css">
{% endblock %}

{% block title_block %}
    <title>Home</title>
{% endblock %}

{% block body_block %}
    <div class="title">
        {% if category_id %}
            <strong>{{ question_list.0.category.name }} category</strong>
        {% else %}
            <strong>Popular Questions</strong>
        {% endif %}
    </div>

    <hr/>

    <div class="content_home">
        {% if question_list %}
            <h1 id="question">
                {% for question in question_list %}
{#                    <p class="time"{{ question.last_modified }}> </p> <br>#}
                    <a href="{% url 'question_detail' question.id %}" class="question_title">[ {{ question.category }} ] {{ question.title }}</a> <br>
                    <p class="question_content">{{ question.content }}</p> <br>
{#                     <p class="likes">likes: {{ question.likes }} </p>#}
{#                    <p class="answer_part"> {{ question.answers }} </p>#}
                {% endfor %}
            </h1>

                {% if is_paginated %}
                    <div class="pagination">
                        <span class="page-links">
                            {% if page_obj.has_previous %}
                                <a href="{% url 'question_list' %}?page={{ page_obj.previous_page_number }}&category_id={{ category_id }}&ordering={{ ordering }}&query={{ query }}">Previous</a>
                            {% endif %}

                            <span class="page-current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            {% if page_obj.has_next %}
                                <a href="{% url 'question_list' %}?page={{ page_obj.next_page_number }}&category_id={{ category_id }}&ordering={{ ordering }}&query={{ query }}">Next</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
        {% else %}
            <h3>My question</h3>
            <p>No question found!!! :(</p>
        {% endif %}
    </div>

{% endblock %}
