{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/post.css">
{% endblock %}

{% block title_block %}
    <title>Post</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Add Your Question</strong>
    </div>

    <hr/>

    <div class="container">
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>


{% endblock %}