{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/form.css">
{% endblock %}

{% block title_block %}
	<title>Register</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Register</strong>
    </div>

    <hr>

    <body>

        <div class="container">
            {% if registered %}
                <img src="/static/images/check_mark.png" style="display: block; margin-right: auto; margin-left: auto; width: 20%">
                <p class="registered" style=" font-size: xx-large; text-align: center; padding: 50px;
                    background: transparent; margin-left: 300px; margin-right: 300px;">
                    <a style="text-decoration: none; color: white" href="{% url 'index' %}"> You are now registered! --- go to Home </a>
                </p>
            {% else %}
            <form class="main" method="post" action="{% url 'register' %}"
                enctype="multipart/form-data">{% csrf_token %}

                <div class="row">
                    <label>Username:</label>
                    <p class="field-box">
                        <input type="text" name="username" value="" size="50"/>
                    </p>
                </div>

                <div class="row">
                    <label>Password:</label>
                    <p class="field-box">
                        <input type="password" name="password" value="" size="50"/>
                    </p>
                </div>

                <div class="row">
                    <label>Email:</label>
                    <p class="field-box">
                        <input type="email" name="email" value="" size="50"/>
                    </p>
                </div>

                <div class="bottom">
                    <input type="submit" name="submit" value="Register" />
                </div>

            </form>

            {% if user_form.errors %}
                {% for field in user_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" style="text-align: center">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in user_form.non_field_errors %}
                    <div class="alert alert-danger" style="text-align: center">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            {% endif %}

        </div>
    </body>
{% endblock %}

