{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/user_profile.css">
{% endblock %}

{% block title_block %}
    <title>Profile</title>
{% endblock %}

{% block js_block %}
    {% if user.id != profile_form.user_id %}
        <script src="{% static "/js/user_profile_detail.js" %}"></script>
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="title">
        <strong>Profile</strong>
    </div>

    <hr/>

    <div class="sidebar">
        <div class="content">
            <label hidden>
                <input id="if_following_link" value="{% url 'if_following' profile_form.user_id %}" hidden>
            </label>
            {% if user.id == profile_form.user_id %}
                {{ user.username }} <br>
                {{ user.usesimage }}<br>
                {{ user.email }} <br>

                <a href="{% url 'edit_user_profile' %}">Edit Profile</a> <br>
                <a href="{% url 'following_list' user.id 1 %}">My Followings</a> <br>
                <a href="{% url 'follower_list' user.id  1 %}">My Followers</a>
            {% else %}
                {{ profile_form.user.get_username }}
                {{ profile_form.user.email }}

                <div>
                    <a id="add_following" href="{% url 'add_following' profile_form.user_id %}">follow</a>
                </div>
                <div>
                    <a id="delete_following" href="{% url 'delete_following' profile_form.user_id %}"
                       hidden>unfollow</a>
                </div>
            {% endif %}
        </div>
    </div>

    <ul class=" my_questions">
        {% if profile_form.user.questions.all %}
            {% for question in profile_form.user.questions.all %}
                <li>
                    <p class="link">
                        <a href="{% url 'question_detail' question.id %}">[ {{ question.category }}
                            ] {{ question.title }}</a>
                    </p>
                </li>
            {% endfor %}
        {% else %}
            You don't have any questions.
        {% endif %}
        <br>
    </ul>

    <br>

    <ul class="my_answers">
        {% if profile_form.user.answers.all %}
            {% for answer in profile_form.user.answers.all %}
                <li>
                    <p class="link">
                        <a href="{% url 'answer_detail' answer.id %}">{{ answer.question.title }} <br>
                            My answer: {{ answer.content }}</a>
                    </p>
                </li>
            {% endfor %}
        {% else %}
            You don't have any answers.
        {% endif %}
    </ul>

{% endblock %}