{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/user_profile.css">
{% endblock %}

{% block title_block %}
    <title>Profile</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Profile</strong>
    </div>

    <hr/>

    <div class="sidebar">
        <div class="content">
            {{ user.username }} <br>
            {{ user.usesimage }}<br>
            <a href="{% url 'edit_user_profile' %}">Edit Profile</a> <br>
            <a href="{% url 'following_list' user.userprofile.id 1 %}">My Followings</a> <br>
            <a href="{% url 'follower_list' user.userprofile.id  1 %}">My Followers</a>
        </div>
    </div>

{% endblock %}