{% extends 'PostBar/base.html' %}
{% load staticfiles %}
{% block css_block %}
    <link rel="stylesheet" type="text/css" href="../../static/css/user_profile.css">
{% endblock %}

{% block title_block %}
    <title>Profile</title>
{% endblock %}

{% block body_block %}

    <div class="title">
        <strong>Profile</strong>
    </div>

    <hr/>

    <div class="sidebar">
        <div class="content">
            {% if user.id == profile_form.user_id %}
                {{ user.username }} <br>
                {{ user.usesimage }}<br>
                {{ user.email }} <br>
                <a href="{% url 'edit_user_profile' %}">Edit Profile</a> <br>
                <a href="{% url 'following_list' user.userprofile.id 1 %}">My Followings</a> <br>
                <a href="{% url 'follower_list' user.userprofile.id  1 %}">My Followers</a>
            {% else %}
                {{ profile_form.user.get_username }}
                {{ profile_form.user.email}}
                <div>
                    <form action="add_following/{{ profile_form.user_id }}" method="post">
                        <button type="button">Follow</button>
                    </form>
                </div>
            {% endif %}

        </div>
    </div>

    <p class="my_questions">
        example content example content example content example content example content example content
    </p>

    <br>

    <p class="my_answers">
        example content example content example content example content example content example content
    </p>

{% endblock %}