#about_us_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.content_title {
    text-align: center;
}


.main {
    margin: 100px auto;
    display: table;
    padding: 20px;
    background-color: rgba(250, 235, 215, 0.85);
    border-radius: 25px;
    font-size: x-large;
}

.row {
    display: table-row;
}

.row label {
    display: table-cell;
    padding: 2px;
}

.field-box {
    display: table-cell;
    padding: 2px;
}
