h1 {
    margin: 100px auto;
}

.category_link {
    text-align: center;
    background-color: rgba(67, 124, 255, 0.64);
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 25px;
    margin-top: 13px;
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    height: 50px;
}

.create_category {
    text-align: center;
    background-color: rgba(99, 228, 171, 0.64);
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 25px;
    color: white;
    height: 50px;
    margin-left: 400px;
    margin-right: 400px;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: large;
}