.main {
    margin: 100px auto;
    display: table;
    padding: 20px;
    background-color: #ebebeb;
    border-radius: 25px;

}

.row {
    display: table-row;
}

.row label {
    display: table-cell;
    padding: 2px;
}

.field-box {
    display: table-cell;
    padding: 4px;
}

body{
    background-image: url("/static/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}