.main {
    margin: 150px auto;
    display: table;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    width: 40%;
    font-size: xx-large;
    padding: 100px;
}

.row {
    display: table-row;
}

.row label {
    display: table-cell;
    padding: 2px;
    width: max-content;

}

.field-box {
    display: table-cell;
    padding: 4px;

}

body{
    background-image: url("/static/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

a {
    text-decoration: none;
}